.avatar {
    width: 100px; /* 3x4, ajuste o tamanho conforme necessário */
    height: 130px; /* 3x4, ajuste o tamanho conforme necessário */
    float: right; /* Alinhar à direita*/
    /*margin-top: 5px;  Espaço superior */
    margin-bottom: 10px; /* Espaço inferior */
    margin-left: auto; /* Espaço à esquerda */
    margin-right: 5px; /* Espaço à esquerda */
    border: 1px solid black;
    
    
}

