.selectable {
    cursor: pointer; /* Adiciona o cursor de ponteiro ao passar o mouse */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a sombra */
    /* Outros estilos, como borda ou cor de fundo, conforme necessário */
}

.selectable:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil ao passar o mouse */
}

.selected {
    border: 2px solid green;
}

.etiqueta {
    text-align:center;    
}

.chave-card.restrito {
    opacity: 0.6; /* Reduz a opacidade para indicar que o card está desabilitado */
    pointer-events: none; /* Impede eventos de clique nos cards desabilitados */
    filter: grayscale(100%); /* Adicione escala de cinza para indicar que o card está desabilitado */
    /* Outros estilos conforme necessário */
}

/*    .card-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;  16.66667% is equivalent to col-lg-2 
        max-width: 16.66667%;
    }

    .cards {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .cards:hover {
        transform: scale(1.1);  Aumenta a escala durante o hover 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  Adiciona uma sombra mais evidente 
    }

    .cards-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .cards-text {
        font-size: 1rem;
        color: #555;
    }*/
