.selectable {
    cursor: pointer; /* Adiciona o cursor de ponteiro ao passar o mouse */
    transition: box-shadow 0.3s ease; /* Adiciona uma transição suave para a sombra */
    /* Outros estilos, como borda ou cor de fundo, conforme necessário */
}

.selectable:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra sutil ao passar o mouse */
}

.selected {
    border: 2px solid green;
}

.etiqueta {
    text-align:center;    
}

