.card-home {
  margin: 5px;
  box-shadow: 0 2px 4px #00000033;
  border-radius: 5px;
  background-color: white;
  color: #2670e8;
  text-align:center;
  padding:20px;
  min-height: 100px;
  a {
    color: #0c326f;
    text-decoration: none;
  }
}

.card-home:hover {
  background-color:rgb(206, 217, 231);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.card-key {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card-key:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.flat-card-actions {
  
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}