{% extends "dashboard.html" %}

{% block conteudo %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/usuarios">
                    Usuários
                </a>
            </li>
        </ol>
    </nav>
    
    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Usuários</b></h3>
            {% if session.Perfil == "Administrador" or session.Perfil == "Recepcao" %}
                <a href="{{ base_url }}/usuario/novo" class="btn btn-success">Novo Usuario</a>
            {% endif %}
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabela" class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            
                            <th scope="col">Nome</th>                            
                            <th scope="col">Tipo</th>
                            <th scope="col">Perfil</th>
                            <th scope="col" class="text-center">Habilitado</th>
                            {% if session.Perfil != "Solicitante" %}
                                
                                    <th scope="col" class="text-center">Opções</th>
                                
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            
                            <td>{{usuario.nome}}</td>
                            <td>{{usuario.tipo}}</td>
                            <td>{{usuario.perfil}}</td>
                            <td class="text-center">
                                {% if usuario.habilitado %}
                                    <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Habilitado"></i>
                                {% else %}
                                    <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativo"></i>
                                {% endif %}
                            </td>
                            {% if session.Perfil != "Solicitante" %}                                
                                <td class="text-center">
                                    <a href="{{ base_url }}/usuario/{{usuario.id}}/detalhar" tooltip="tooltip" title="Detalhes do Usuário">
                                        <i class="fa-solid fa-eye fa-lg"></i>
                                    </a>
                                    <a href="{{ base_url }}/usuario/{{usuario.id}}/update" tooltip="tooltip" title="Editar Usuário">
                                        <i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                    </a>
                                    <a href="{{ base_url }}/usuario/{{usuario.id}}/alterarFoto" tooltip="tooltip" title="Alterar Foto" class="alterar-foto-link">
                                        <i class="fa-solid fa-camera fa-lg" style="color: #0491d7;"></i>
                                    </a>
                                    <a href="{{ base_url }}/usuario/{{usuario.id}}/alterarSenha" tooltip="tooltip" title="Alterar Senha">
                                        <i class="fa-solid fa-lock fa-lg"></i>
                                    </a>
                                    {% if session.Perfil == "Administrador" %}
                                        {% if usuario.habilitado %}
                                            <!-- Opção de Desativar visível apenas para Administrador -->
                                            <a href="#" onclick="exibirConfirmacaoDesativar('{{usuario.id}}','{{usuario.nome}}')" tooltip="tooltip" title="Desativar Usuário">
                                                <i class="fa-solid fa-ban fa-lg" style="color: #cd191e;"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>                                        
                            {% endif %}
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>     
        </div>        
    </div>     
    
    <script>
        function exibirConfirmacaoDesativar(idUsuario, nome) {
            Swal.fire({
                title: 'Tem certeza?',
                html: "Deseja realmente desativar o usuário <b>" + nome + "</b>? Esta ação impedirá a solicitação de novos empréstimos!",
                icon: 'warning',
                cancelButtonColor: "#cd191e",
                showCancelButton: true,
                confirmButtonColor: "#2f9e41",
                confirmButtonText: 'Sim, desativar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Aqui você pode adicionar lógica para redirecionar para a URL de desativação do usuário
                    window.location.href = "{{ base_url }}/usuario/" + idUsuario + "/desativar";
                }
            });
        }
        
        
//        document.getElementById("alterarFotoLink").addEventListener("click", async function (event) {
//    event.preventDefault();
//
//    const { value: file } = await Swal.fire({
//        title: "Selecione a imagem",
//        input: "file",
//        inputAttributes: {
//            "accept": "image/*",
//            "aria-label": "Carregue sua foto"
//        }
//    });
//
//    if (file) {
//        const formData = new FormData();
//        formData.append("foto", file);
//
//        // Obter o ID do usuário da URL
//        const userId = window.location.pathname.split("/")[3]; // Assumindo que o ID do usuário está na 4ª parte da URL
//
//        // Construir a URL de upload com o ID do usuário
//        const uploadUrl = `https://sistemas.tiangua.ifce.edu.br/sigec/usuario/${userId}/alterarFoto`;
//
//        // Criar um objeto XMLHttpRequest
//        const xhr = new XMLHttpRequest();
//
//        // Configurar o método e a URL
//        xhr.open("POST", uploadUrl, true);
//
//        // Configurar o cabeçalho para aceitar arquivos
//        xhr.setRequestHeader("enctype", "multipart/form-data");
//
//        // Adicionar um listener para tratar a resposta
//        xhr.onload = function () {
//            if (xhr.status === 200) {
//                const response = JSON.parse(xhr.responseText);
//                if (response.success) {
//                    // Atualizar a imagem na página ou tomar outras ações necessárias
//                    Swal.fire({
//                        title: "Sucesso!",
//                        text: "A imagem foi carregada com sucesso.",
//                        icon: "success"
//                    });
//                } else {
//                    // Exibir uma mensagem de erro
//                    Swal.fire({
//                        title: "Erro!",
//                        text: "Falha ao carregar a imagem.",
//                        icon: "error"
//                    });
//                }
//            }
//        };
//
//        // Enviar o formulário
//        xhr.send(formData);
//    }
//});
//


        
        
    </script>







    

{% endblock %}