{% extends "dashboard.html" %}
{% import "funcoes.html" as msg %}

{% block conteudo %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ base_url }}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ base_url }}/usuarios">
                Usuários
            </a>
        </li>
    </ol>
</nav>


<div class="card border-0 shadow-sm">    
    <div class="col-md-10 col-md-offset-1">
            {{ msg.messagem(classe, texto)}}
    </div>
    
    <div class="card-body">
        <div class="panel-heading"><h4>Editar Usuário</h4></div>
        <form action="../../usuario/update/{{usuario.id}}" method="post">
            
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" value="{{usuario.nome}}" name="nome" id="nome" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="text" value="{{usuario.email}}" name="email" id="email" class="form-control">
            </div> 
            
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="matricula" class="form-label">Matrícula</label>
                        <input type="text" value="{{usuario.matricula}}" name="matricula" id="matricula" class="form-control" disabled>
                    </div>
                </div>                
            
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="celular" class="form-label">Celular</label>
                        <input type="text" value="{{usuario.celular}}" name="celular" id="celular" maxlength="15" class="form-control">
                    </div> 
                </div>                
            </div>
                        
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <input type="text" value="{{usuario.tipo}}" name="tipo" id="tipo" class="form-control" disabled>
                        <!--
                        <select class="form-select" name="tipo" id="tipo">
                            <option value="{{usuario.id}}">{{usuario.tipo}}</option>                            
                            <option value="Servidor" {% if usuario.tipo == 'servidor' %}selected{%endif%}>Servidor</option>
                            <option value="Terceirizado" {% if usuario.tipo == 'terceirizado' %}selected{%endif%}>Terceirizado</option>
                            <option value="Aluno" {% if usuario.tipo == 'aluno' %}selected{%endif%}>Aluno</option>                            
                        </select>
                        -->
                    </div>
                </div>

                <!--{% set permissoes = ['Administrador', 'Portaria', 'Solicitante'] %}-->

                <div class="col-md-6">
                    <div class="mb-3">                        
                        <label for="perfil" class="form-label">Perfil</label>
                        <select class="form-select" name="perfil" id="perfil">
                            <option value="Administrador" {% if usuario.permissao == 'administrador' %}selected{%endif%}>Administrador</option>
                            <option value="Portaria" {% if usuario.permissao == 'portaria' %}selected{%endif%}>Portaria</option>
                            <option value="Solicitante" {% if usuario.permissao == 'solicitante' %}selected{%endif%}>Solicitante</option>                            
                        </select>
                    </div>
                </div>
            </div>
            
            <button  type="submit" class="btn btn-primary">
                <i class="fa-regular fa-floppy-disk"></i> Salvar
            </button>
        </form>
    </div>    
</div>

<script>
    function mascara(o,f){
    v_obj=o
    v_fun=f
    setTimeout("execmascara()",1)
}
function execmascara(){
    v_obj.value=v_fun(v_obj.value)
}
function mtel(v){
    v=v.replace(/\D/g,""); //Remove tudo o que não é dígito
    v=v.replace(/^(\d{2})(\d)/g,"($1) $2"); //Coloca parênteses em volta dos dois primeiros dígitos
    v=v.replace(/(\d)(\d{4})$/,"$1-$2"); //Coloca hífen entre o quarto e o quinto dígitos
    return v;
}
function id( el ){
	return document.getElementById( el );
}
window.onload = function(){
	id('celular').onkeyup = function(){
		mascara( this, mtel );
	}
}
</script>

{% endblock %}