{% extends "dashboard.html" %}
{% block conteudo %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ base_url }}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ base_url }}/usuarios">
                Usuários
            </a>
        </li>
    </ol>
</nav>

<div class="card border-0 shadow-sm">    
    
    <div class="card-body">
        <div class="panel-heading"><h4><b>Editar Usuário</b></h4></div>
        <form action="../../usuario/{{usuario.id}}/update" method="post" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" value="{{usuario.nome}}" name="nome" id="nome" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="text" value="{{usuario.email}}" name="email" id="email" class="form-control">
            </div> 
            
            <!--<div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" value="{{usuario.email}}" name="email" id="email" class="form-control">
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="url_foto" class="form-label">Escolha a foto:</label>
                        <input type="file" value="{{usuario.url_foto}}" name="url_foto" id="url_foto" accept="image/*" class="form-control">
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="matricula" class="form-label">Matrícula</label>
                        <input type="text" value="{{usuario.matricula}}" name="matricula" id="matricula" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                       <label for="cargo" class="form-label">Cargo</label>
                       <input type="text" value="{{usuario.cargo}}" name="cargo" id="cargo" class="form-control">
                   </div> 
                </div>
            </div>
                        
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <input type="text" value="{{usuario.tipo}}" name="tipo" id="tipo" class="form-control" disabled>
                        <!--
                        <select class="form-select" name="tipo" id="tipo">
                            <option value="{{usuario.id}}">{{usuario.tipo}}</option>                            
                            <option value="Servidor" {% if usuario.tipo == 'servidor' %}selected{%endif%}>Servidor</option>
                            <option value="Terceirizado" {% if usuario.tipo == 'terceirizado' %}selected{%endif%}>Terceirizado</option>
                            <option value="Aluno" {% if usuario.tipo == 'aluno' %}selected{%endif%}>Aluno</option>                            
                        </select>
                        -->
                    </div>
                </div>
                
                
                {% if usuario.perfil == 'Administrador' %}
                
                    <div class="col-md-6">
                        <div class="mb-3">                        
                            <label for="perfil" class="form-label">Perfil</label>
                            <select class="form-select" name="perfil" id="perfil">
                                <option value="Administrador" {% if usuario.perfil == 'Administrador' %}selected{%endif%}>Administrador</option>
                                <option value="Recepcao" {% if usuario.perfil == 'Recepcao' %}selected{%endif%}>Recepção</option>
                                <option value="Solicitante" {% if usuario.perfil == 'Solicitante' %}selected{%endif%}>Solicitante</option>                            
                            </select>
                        </div> 
                    </div>
                
                {% else %}
                
                    <div class="col-md-6">
                        <div class="mb-3">                        
                            <label for="perfil" class="form-label">Perfil</label>
                            <input type="text" value="{{usuario.perfil}}" name="perfil" id="perfil" class="form-control" disabled>
                        </div>
                    </div>
                
                {% endif %}
                
            </div>
            
            <div class="d-flex justify-content-end mt-3">
                <div class="button-group">
                    <button  type="submit" class="btn btn-success">
                        <i class="fa-regular fa-floppy-disk"></i> Salvar
                    </button>
                    <button id="btn_voltar" type="button" class="btn btn-success" onclick="window.location.href = '{{ base_url }}/usuarios';">Voltar</button>
                </div>    
            </div>
        </form>
    </div>    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");

        form.addEventListener("submit", function (event) {
            event.preventDefault(); // Impede o envio padrão do formulário

            Swal.fire({
                title: "Deseja salvar as alterações?",
                showDenyButton: true,
                denyButtonColor: "#cd191e",
                showCancelButton: true,
                confirmButtonText: "Salvar",
                confirmButtonColor: "#2f9e41",
                denyButtonText: "Não salvar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se o usuário confirmar, envie o formulário
                    form.submit();
                } else if (result.isDenied) {
                    Swal.fire({
                        title: "As alterações não foram salvas",
                        icon: "info",
                        confirmButtonText: "Ok"
                    }).then(() => {
                        // Se o usuário optar por não salvar, recarregue a página
                        location.reload();
                    });
                }
            });
        });
    });
</script>

{% endblock %}