{% extends "dashboard.html" %}

{% block conteudo %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/salas">
                    Salas
                </a>
            </li>
        </ol>
    </nav>  
        
    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Salas</b></h3>
            {% if session.Perfil == "Administrador" %}
                <a href="{{ base_url }}/sala/nova" class="btn btn-success">Nova Sala</a>
            {% endif %}
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabela" class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Bloco</th>
                            <th scope="col" class="text-center">Situação</th>
                            {% if session.Perfil == "Administrador" %}
                                <th scope="col" class="text-center">Opções</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for sala in salas %}
                        <tr>
                            <th>{{sala.id}}</th>
                            <td>{{sala.nome}}</td>
                            <td>{{sala.bloco.nome}}</td>
                            <td class="text-center">
                                {% if sala.situacao == 'Ativa' %}
                                    <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativa"></i>
                                {% endif %}
                                {% if sala.situacao == 'Manutencao' %}                                    
                                    <i class="fa-solid fa-circle text-warning" tooltip="tooltip" title="Em manutenção"></i>
                                {% endif %}
                                {% if sala.situacao == 'Inativa' %}                                    
                                    <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativa"></i>                                    
                                {% endif %}
                            </td>
                            {% if session.Perfil == "Administrador" %}
                                <td class="text-center">
                                    <a href="{{ base_url }}/sala/{{sala.id}}/editar" tooltip="tooltip" title="Editar">
                                        <i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                    </a>
                                    {% if sala.situacao == 'Ativa' %}
                                         <a href="{{ base_url }}/sala/{{sala.id}}/reparar" tooltip="tooltip" title="Realizar Manutenção">
                                            <i class="fa-solid fa-screwdriver-wrench fa-lg" style="color: #f18517;"></i>
                                        </a>
                                        <a href="{{ base_url }}/sala/{{sala.id}}/desativar" tooltip="tooltip" title="Desativar Sala">
                                            <i class="fa-solid fa-ban fa-lg" style="color: #cd191e;"></i>
                                        </a>                                   
                                    {% elseif sala.situacao == 'Manutencao' %}
                                        <a href="{{ base_url }}/sala/{{sala.id}}/ativar" tooltip="tooltip" title="Finalizar Manutenção">
                                            <i class="fa-solid fa-school-circle-check fa-lg" style="color: #2f9e41;"></i>
                                        </a>
                                        <a href="{{ base_url }}/sala/{{sala.id}}/desativar" tooltip="tooltip" title="Desativar Sala">
                                            <i class="fas fa-ban fa-lg" style="color: #cd191e;"></i>
                                        </a>                                    
                                    {% else %}
                                        <a href="{{ base_url }}/sala/{{sala.id}}/ativar" tooltip="tooltip" title="Ativar Sala">
                                            <i class="fa-regular fa-circle-check fa-lg" style="color: #2f9e41;"></i>
                                        </a>
                                    {% endif %}
                            {% endif %}            
    <!--                                <a href="{{ base_url }}/sala/{{sala.id}}/excluir" tooltip="tooltip" title="Excluir">
                                        <i class="fa-solid fa-trash m-1"></i>
                                    </a>-->
                                </td>
                            
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>     


        </div>        
       
    </div>
    
{% endblock %}



