{% extends "dashboard.html" %}
{% block conteudo %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ base_url }}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ base_url }}/salas">
                Salas
            </a>
        </li>
    </ol>
</nav>

<div class="card border-0 shadow-sm">        
        
    <div class="card-body">
        <div class="panel-heading"><h4>Editar Sala</h4></div>
        <form name="pesquisa" action="../../sala/update/{{sala.id}}" method="POST">
            <div class="mb-3">
                <label for="sala" class="form-label">Nome</label>
                <input type="text" name="nome" value="{{sala.nome}}" class="form-control" id="nome" required>
            </div>    
            <div class="mb-3">
                <label for="bloco" class="form-label">Bloco</label>
                <input type="text" name="bloco" value="{{sala.bloco.nome}}" class="form-control" id="bloco" disabled>
            </div>         
            
            <button  type="submit" class="btn btn-success">
                <i class="fa-regular fa-floppy-disk"></i> Salvar
            </button>
            <button id="btn_voltar" type="button" class="btn btn-success" onclick="window.location.href = '{{ base_url }}/salas';">Voltar</button>
        </form>
    </div>    
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");

        form.addEventListener("submit", function (event) {
            event.preventDefault(); // Impede o envio padrão do formulário

            Swal.fire({
                title: "Deseja salvar as alterações?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonColor: "#2f9e41",
                confirmButtonText: "Salvar",
                denyButtonColor: "#cd191e",
                denyButtonText: "Não salvar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se o usuário confirmar, envie o formulário
                    form.submit();
                } else if (result.isDenied) {
                    Swal.fire({
                        title: "As alterações não foram salvas",
                        icon: "info",
                        confirmButtonColor: "#2f9e41",
                        confirmButtonText: "Ok"
                    }).then(() => {
                        // Se o usuário optar por não salvar, recarregue a página
                        location.reload();
                    });
                }
            });
        });
    });
</script>

{% endblock %}