{% extends "dashboard.html" %}
{% import "funcoes.html" as msg %}

{% block conteudo %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ base_url }}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ base_url }}/salas">
                Salas
            </a>
        </li>
    </ol>
</nav>


<div class="card border-0 shadow-sm">    
    <div class="col-md-10 col-md-offset-1">
            {{ msg.messagem(classe, texto)}}
    </div>
    
    <div class="card-body">
        <div class="panel-heading"><h4>Cadastrar Sala</h4></div>
        <form action="" method="post">
            <div class="mb-3">
                <label for="titulo" class="form-label">Nome</label>
                <input type="text" name="nome" id="nome" class="form-control">
            </div>  
            
            <div class="mb-3">
                <label for="id_bloco" class="form-label">Bloco</label>                
                <select class="form-select" name="id_bloco" id="id_bloco">
                    <option value="">Selecione...<i class="fas fa-search"></i></option>
                    {% for bloco in blocos %}
                        <option value="{{bloco.id}}">{{bloco.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <button  type="submit" class="btn btn-success">
                <i class="fa-regular fa-floppy-disk"></i> Salvar
            </button>
        </form>
    </div>    
</div>


{% endblock %}