<!DOCTYPE html>
<html>
    <head>
        <title>SIGEC - Empréstimo de Chaves</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
        <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="{{ base_url }}/src/assets/css/style.css">
        <link rel="stylesheet" href="{{ base_url }}/src/assets/css/estilos.css">        
        <link href=" {{ base_url }}/src/assets/img/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        
    </head>
    <body> 

        {% block corpo %}  {% endblock %}        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twig.js/1.15.0/twig.min.js" integrity="sha512-R9w7cGfL8kjpDIAhW2Mgji+lbq06vKWJX/Qztpq0ya5tD8YMGvRS2fco4p2EYTy93V/lDwp7hRnlHVkCyIrnHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.2.0/mustache.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="{{ base_url }}/src/assets/js/script.js"></script>          
        
    </body>
</html>
