{% extends "base_new.html" %}

{% block corpo %}

    {% include 'menu_new.html' %}
    
    {% for item in messages.success %}
<!--        <div class="alert alert-success alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>-->
        <script>            
            window.onload = function() {                
                Swal.fire({                   
                    icon: 'success',
                    title: '{{item}}',
                    confirmButtonColor: "#2f9e41",
                    confirmButtonText: 'Ok',
                    showConfirmButton: true
                    //timer: 1500
                  })
            };
        </script>
    {% endfor %}

    {% for item in messages.error %}
<!--        <div class="alert alert-danger alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>-->
        <script>            
            window.onload = function() {                
                Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '{{item}}'
              })
            };
        </script>
    {% endfor %}
    
    {% for item in messages.warning %}
        <!--<div class="alert alert-warning alert-dismissible fade show">-->
            <!--{{item}}-->
            <!--<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>-->
        <!--</div>-->
        <script>            
            window.onload = function() {                
                Swal.fire({                    
                    text: "{{item}}",
                    icon: 'warning',                    
                    confirmButtonColor: '#3085d6',                    
                    confirmButtonText: 'Ok'
                  })
            };
        </script>        
    {% endfor %}
    
    {% for item in messages.info %}
<!--        <div class="alert alert-info alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>-->
    {% endfor %}

    <div class="conteudo">
        {% include 'topo.html' %}
            <main>
                {% block conteudo %}               
                    
                    
                    <div class="card border-0 shadow-sm">
                        <div class="card-header bg-white border-0">
                            <h5 class="card-title">Dashboard</h5>
                        </div>
                        <div class="card-body">
                            Conteúdo em desenvolvimento                         
                            
                        </div>
                    </div>
                {% endblock %}
            </main>
        {% include 'rodape.html' %}
    </div>

{% endblock %}