{% extends "base_new.html" %}
{% block corpo %}

<div class="fundo15 p-3 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-body">

                <div class="logohorizontal">
                    <img src="{{ base_url() }}/src/assets/img/IFCE_LogoHorizontal.png" alt="logo_campus_tiangua"/>
                </div>

                <h1 class="h5 mb-3 text-center"><strong>Sistema de Gestão para Empréstimo de Chaves</strong></h1>
                
                {% for item in messages.success %}

                    <script>            
                        window.onload = function() {                
                            Swal.fire({                   
                                icon: 'success',
                                title: '{{item}}',
                                confirmButtonColor: '#2f9e41',
                                showConfirmButton: true
                                //timer: 1500
                              })
                        };
                    </script>
                {% endfor %}
                
                {% for item in messages.error %}

                    <script>            
                        window.onload = function() {                
                            Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: '{{item}}'
                          })
                        };
                    </script>
                {% endfor %}
                
                {% for item in messages.warning %}

                    <script>            
                        window.onload = function() {                
                            Swal.fire({                    
                                text: "{{item}}",
                                icon: 'warning',                    
                                confirmButtonColor: '#2f9e41',                    
                                confirmButtonText: 'Ok'
                              })
                        };
                    </script>
                {% endfor %}
                
                {% for item in messages.info %}

                {% endfor %}
                                
                <form id="login" action="{{ base_url() }}/login" method="post" class="d-flex flex-column align-items-center">      
                    <div class="form-floating mb-3">
                        <input name="matricula" id="matricula" inputmode="numeric" minlength="6" class="form-control form-control-lg" placeholder="Matrícula">
                        <label for="email">Matricula</label>                        
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="senha" id="senha" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="form-control form-control-lg" placeholder="Senha">
                        <label for="senha">Senha</label>                        
                    </div>

                    <div class="form-floating mb-3">
                        <button class="btn btn-lg btn-success btn-block" type="submit">Entrar</button>
                    </div>
                    
                    <div class="text-center">
                        <small class="text-muted">&copy; {{ "now"|date("Y") }}. Coordenadoria de Tecnologia da Informação - Campus Tianguá.</small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seletor do formulário
        var formulario = document.getElementById('login');

        // Evento de envio do formulário
        formulario.addEventListener('submit', function (event) {
            // Seletor do campo de matrícula
            var matriculaInput = document.getElementById('matricula');
            
            // Obtém o valor do campo de matrícula
            var matricula = matriculaInput.value;

            // Validação
            if (!/^\d{6,}$/.test(matricula)) {
                event.preventDefault(); // Impede o envio se a validação falhar
                Swal.fire({
                    title: "Atenção!",
                    html: "A matrícula deve ser um <b>número</b> com pelo menos 6 dígitos!",
                    icon: 'warning',
                    confirmButtonColor: '#2f9e41',
                    confirmButtonText: 'Ok'
                });
            } else {
                // Restante do código de envio do formulário, se necessário
            }
        });
    });
</script>



{% endblock %}