<img src="{{ usuario['url_foto'] }}" alt="foto do usuario" class="avatar">

<div>
    <p id="idUser" data-id-usuario="{{ usuario['id'] }}"></p>

    <p><b>Nome</b>: {{ usuario['nome'] }}</p>
    <p><b>Cargo</b>: {{ usuario['cargo'] }}</p>
</div> 

