{% extends "dashboard.html" %}

{% block conteudo %}


<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/emprestimos">
                    Empréstimos
                </a>
            </li>
        </ol>
    </nav>  

    {% for item in messages.success %}
<!--        <div class="alert alert-success alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>-->
        <script>            
            window.onload = function() {                
                Swal.fire({                   
                    icon: 'success',
                    title: '{{item}}',
                    showConfirmButton: true
                    //timer: 1500
                  })
            };
        </script>
    {% endfor %}

    {% for item in messages.error %}
<!--        <div class="alert alert-danger alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>-->
        <script>            
            window.onload = function() {                
                Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '{{item}}'
              })
            };
        </script>
    {% endfor %}
    
    {% for item in messages.warning %}
        <!--<div class="alert alert-warning alert-dismissible fade show">-->
            <!--{{item}}-->
            <!--<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>-->
        <!--</div>-->
        <script>            
            window.onload = function() {                
                Swal.fire({                    
                    text: "{{item}}",
                    icon: 'warning',                    
                    confirmButtonColor: '#3085d6',                    
                    confirmButtonText: 'Ok'
                  })
            };
        </script>        
    {% endfor %}
    
    {% for item in messages.info %}
<!--        <div class="alert alert-info alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>-->
    {% endfor %}
    
    {% for item in messages.question %}
<!--        <div class="alert alert-info alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>-->
        <script>            
            window.onload = function() {                
                Swal.fire({
                title: 'Confirma devoluçao?',
                text: "Não será possível reverter esta operação!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.isConfirmed) {
                  Swal.fire(
                    'Chave devolvida!',                    
                    'success'
                  )
                }
              })
            };
        </script> 
    {% endfor %}


    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Detalhes do Empréstimo</b></h3>
        </div>
        
         <div style="text-indent: 10px; margin: 10px;">                
            <i class="fa-solid fa-circle text-warning" tooltip="tooltip" title="Ativo"></i> Chave Emprestada
            <i class="fa-solid fa-circle text-secondary" tooltip="tooltip" title="Ativo"></i> Chave Devolvida            
        </div>  
        
        <div class="card-body">
            <strong>Código:</strong> &nbsp; {{emprestimo.id}}
            <br><br>
            <strong>Abertura</strong>: &nbsp; {{emprestimo.dataAbertura |date("d/m/Y - H:i") }}
            <br><strong>Solicitante</strong>: &nbsp; {{emprestimo.solicitante.nome}}
            <br><strong>Responsável pela Entrega</strong>: &nbsp; {{emprestimo.user_abertura.nome}}
            <br><strong>Situação</strong>: &nbsp; {{emprestimo.situacao}}
            
            <br><br>
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>                            
                            <th scope="col">Chave</th>                            
                            <th scope="col" class="text-center">Devolver</th>                            
                            <th scope="col">Data Recebimento</th>                                                     
                            <th scope="col">Responsável Recebimento</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for item in itens_emprestimo %}
                        <tr>
                            {% if item.DevolvidoEm is null %}
                                <td>
                                    <span title="{{item.chave.descricao}}" class="badge bg-warning">{{item.chave.etiqueta}}</span>
                                </td>
                                <td class="text-center">                
                                    <a href="{{ base_url }}/emprestimo/{{emprestimo.id}}/chave/{{item.chave.id}}/devolver">
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </a>
                                </td>
                                <td>  </td>
                                <td>  </td>

                            {% else %}
                                <td title="{{item.chave.descricao}}"><span class="badge bg-secondary">{{item.chave.etiqueta}}</span> </td>
                                <td>  </td>
                                <td>{{item.DevolvidoEm |date('d/m/Y H:i')}}</td>
                                <td>{{item.usuario.nome}}</td>
                            {% endif %}
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
                <button id="btn_voltar" type="button" class="btn btn-success" onclick="history.back()">Voltar</button>
            </div>     


        </div>        
       
    </div>
    
{% endblock %}



