{% extends "dashboard.html" %}

{% block conteudo %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/emprestimos">
                    Empréstimos
                </a>
            </li>
        </ol>
    </nav>
    
    
    <!-- GET -->
    <div class="row">
        <div class="col-xl-6 col-xxl-3 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <h6 class="fw-bold text-secondary">
                            Solicitante
                        </h6>                          
                    </div>                    
                </div>
                
                <div class="card-body">
                    <form id="search-form" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" name="matricula" id="matricula" placeholder="Digite a matrícula do usuário" aria-label="Buscar">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                        <br>                        
                    </form>                    
                </div>
            </div>
        </div>    
        
        <div class="col-xl-6 col-xxl-9 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <h6 class="fw-bold text-secondary">
                            Detalhes  
                        </h6>                          
                    </div>                    
                </div>
                
                <div class="card-body" id="detalhesUsuario">
                    
                </div>
                
            </div>
        </div>
    </div>

    <!-- POST -->

<!--    <div class="row">
        <div class="col-xl-6 col-xxl-3 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <h6 class="fw-bold text-secondary">
                            Solicitante
                        </h6>                          
                    </div>                    
                </div>
                
                <div class="card-body">
                    <form data-url-busca="{{ base_url }}/pesquisar" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" name="busca" id="busca" placeholder="Digite a matrícula do usuário" aria-label="Buscar">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                        <br>                        
                    </form>                    
                </div>
            </div>
        </div>    
        
        <div class="col-xl-6 col-xxl-9 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <h6 class="fw-bold text-secondary">
                            Detalhes
                        </h6>                          
                    </div>                    
                </div>
                
                <div class="card-body" id="buscaResultado">
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                 Aqui é onde os resultados da busca serão adicionados 
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>-->


    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b></b></h3>        
            <a href="{{ base_url }}/emprestimo/novo" class="btn btn-primary">Novo Empréstimo</a>
        </div>
    
    </div>


    <div class="card border-0 shadow-sm mx-auto">
        
        {% for bloco in blocos %}
        
            <div class="card-header bg-white border-0 mx-auto">
                <h3 class="card-title"><b>Bloco &nbsp;{{bloco.nome}}</b></h3>            
            </div>
        
        
            <div class="row mx-2 justify-content-center">                               
                {% for chave in chaves %}
                    <div class="col-md-3 col-lg-2 col-xl-2 mb-4">
                        <div class="card bg-light">                            
                            <div class="card-body shadow-sm">
                                <a href="#" tooltip="tooltip" title="{{chave.descricao}}">
                                    <img class="card-img-top" src="{{ base_url() }}/src/assets/img/key.svg" width="30" height="70" alt="chave" style="padding: 2px 16px;" >                                                                                         
                                </a>
                                <div class="card-header bg-opacity-30">{{chave.etiqueta}}</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col" style="display: flex; justify-content: space-between; align-items: center;">
                                            <span class="badge text-bg-success "><span class="text-success fw-bold">{{posts.ativo}}</span> <span class="badge ">Disponível</span> </span>                                        
                                            <a href="#" tooltip="tooltip" title="Adicionar Chave"><i class="fa-solid fa-hand-holding-medical"></i></a>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>                         
                    </div>  
                {% endfor %}
            </div>
        {% endfor%}        
    </div>
    
<!--<script>
    // Captura os parâmetros da URL
    const urlParams = new URLSearchParams(window.location.search);
    const parametro = urlParams.get('matricula');

    // Atualiza a div com o resultado
    if (parametro) {
        const resultadoDiv = document.getElementById('detalheUsuario');
        resultadoDiv.innerHTML = `Valor recebido: ${parametro}`;
    }

</script>-->


<!--<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buscarForm = document.getElementById('buscarForm');
        const detalheUsuario = document.getElementById('detalheUsuario');

        buscarForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const matricula = document.getElementById('matricula').value;

            // Realizar a requisição GET com a matrícula
            fetch('{{ base_url }}/buscar/' + matricula)
                .then(response => response.json())
                .then(usuario => {
                    if (usuario) {
                        detalheUsuario.innerHTML = `
                            <p>Nome: ${usuario.nome}</p>
                            <p>Matrícula: ${usuario.matricula}</p>
                            <p>Perfil: ${usuario.perfil}</p>
                            <p>Foto: <img src="${usuario.foto}" alt="Foto do Usuário"></p>
                        `;
                    } else {
                        detalheUsuario.innerHTML = '<div class="alert alert-warning">Nenhum usuário encontrado</div>';
                    }
                })
                .catch(error => {
                    console.error('Erro ao buscar usuário:', error);
                    detalheUsuario.innerHTML = '<div class="alert alert-danger">Erro ao buscar usuário</div>';
                });
        });
    });
</script>
-->

<!--<script>
    // Captura o formulário
    const form = document.getElementById('buscar-form');
    
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Evita o redirecionamento da página
        const matricula = document.getElementById('matricula').value;
        
        // Faz a requisição AJAX para a rota de busca
        fetch(`{{ base_url }}/buscar?matricula=${matricula}`)
            .then(response => response.json())
            .then(usuario => {
                const resultadoDiv = document.getElementById('resultadoUsuario');
                
                if (usuario.length > 0) {
                    const usuarioHtml = `
                        <p>Nome: ${usuario[0].nome}</p>
                        <p>Matrícula: ${usuario[0].matricula}</p>
                        <p>Perfil: ${usuario[0].perfil}</p>
                        <p>Foto: <img src="${usuario[0].foto}" alt="Foto do Usuário"></p>
                    `;
                    resultadoDiv.innerHTML = usuarioHtml;
                } else {
                    resultadoDiv.innerHTML = '<div class="alert alert-warning">Nenhum usuário encontrado</div>';
                }
            })
            .catch(error => {
                console.error('Erro na requisição:', error);
            });
    });
</script>

-->


<!--<script>
        // Captura o evento de submissão do formulário
        document.getElementById('search-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Impede o comportamento padrão do formulário

            const matricula = document.getElementById('matricula').value; // Obtém o valor do campo de matrícula

            // Realiza a requisição AJAX para o controller
            fetch('{{ base_url }}/emprestimo/novo?matricula=' + matricula)
                .then(response => response.json())
                .then(data => {
                    // Atualiza a div com o resultado da pesquisa
                    const detalheUsuarioDiv = document.getElementById('detalheUsuario');
                    if (data.usuario) {
                        detalheUsuarioDiv.innerHTML = `
                            <p>Nome: ${data.usuario[0].nome}</p>
                            <p>Matrícula: ${data.usuario[0].matricula}</p>
                            <p>Perfil: ${data.usuario[0].perfil}</p>
                            <p>Foto: <img src="${data.usuario[0].foto}" alt="Foto do Usuário"></p>
                        `;
                    } else {
                        detalheUsuarioDiv.innerHTML = '<div class="alert alert-warning">Nenhum usuário encontrado</div>';
                    }
                })
                .catch(error => {
                    console.error('Erro na requisição:', error);
                });
        });
    </script>-->

<script>
//    document.getElementById("search-form").addEventListener("submit", function(event) {
//        event.preventDefault(); // Impede o envio padrão do formulário
//        
//        var matricula = document.getElementById("matricula").value;
//        var detalhesUsuarioDiv = document.getElementById("detalhesUsuario");
//        
//        // Fazer a requisição AJAX
//        var xhr = new XMLHttpRequest();
//        xhr.open("GET", "https://sistemas.tiangua.ifce.edu.br/sigec/buscar?matricula=" + matricula, true);
//        
//        xhr.onreadystatechange = function() {
//            if (xhr.readyState === 4 && xhr.status === 200) {
//                // Atualizar a div com os dados do usuário retornados pela requisição
//                detalhesUsuarioDiv.innerHTML = xhr.responseText;
//            }
//        };
//        
//        xhr.send();
//    });

    
    
//    
//    

//document.getElementById("search-form").addEventListener("submit", function(event) {
//    event.preventDefault(); // Impede o envio padrão do formulário
//    
//    var matricula = document.getElementById("matricula").value;
//    var detalhesUsuarioDiv = document.getElementById("detalhesUsuario");
//    
//    // Fazer a requisição AJAX
//    var xhr = new XMLHttpRequest();
//    xhr.open("GET", "https://sistemas.tiangua.ifce.edu.br/sigec/buscar?matricula=" + matricula, true);
//    
//    xhr.onreadystatechange = function() {
//        if (xhr.readyState === 4 && xhr.status === 200) {
//            var usuario = JSON.parse(xhr.responseText);
//            
//            // Carregue o template do arquivo Twig
//            var template = document.getElementById("detalhes_usuario.twig").innerHTML;
//            
//            // Use o Mustache para renderizar o template com os dados do usuário
//            var renderedContent = Mustache.render(template, usuario);
//            
//            // Exiba o conteúdo renderizado na div detalhesUsuario
//            detalhesUsuarioDiv.innerHTML = renderedContent;
//        }
//    };
//    
//    xhr.send();
//});

// ##########################################################################
//document.getElementById("search-form").addEventListener("submit", function(event) {
//    event.preventDefault(); // Impede o envio padrão do formulário
//    
//    var matricula = document.getElementById("matricula").value;
//    
//    if (matricula.length < 6) {
//        alert("A matrícula deve ter pelo menos 6 dígitos.");
//        return;
//    }
//    
//    console.log(matricula);
//    var detalhesUsuarioDiv = document.getElementById("detalhesUsuario");
//    
//    // Fazer a requisição AJAX para buscar o usuário
//    fetch("https://sistemas.tiangua.ifce.edu.br/sigec/buscar/" + matricula)
//        .then(response => response.json())
//        .then(usuario => {
//            console.log("Usuario recebido:", usuario);
//            //console.log("Nome:", usuario.nome);
//            
//            console.log(Object.keys(usuario).length === 0);
//            
//            // Carrega o conteúdo do arquivo Twig na div            
//            console.log("Caminho do arquivo Twig:", window.location.href);
//            fetch('{{ base_url }}/src/views/emprestimo/detalhes_usuario.twig')
//                .then(response => response.text())
//                .then(template => {
//                    console.log("Template carregado:", template);
//                    const renderedTemplate = Twig.twig({ data: template }).render({ usuario: usuario });
//                    detalhesUsuarioDiv.innerHTML = renderedTemplate;
//                });
//        })
//        .catch(error => {
//            console.log("Erro:", error);
//            detalhesUsuarioDiv.innerHTML = '<div class="alert alert-warning">Erro ao carregar dados do usuário.</div>';
//        });
//});
//#####################################################################################################

// Obtém o campo de entrada
var matriculaInput = document.getElementById("matricula");

// Adiciona um ouvinte de evento para detectar alterações no campo de entrada
matriculaInput.addEventListener("input", function() {
    var matricula = this.value;
    var detalhesUsuarioDiv = document.getElementById("detalhesUsuario");
    
    // Verifica se o campo de entrada está vazio ou contém apenas espaços em branco
    if (matricula.trim() === "" || !/^\d{6,}$/.test(matricula)) {
        detalhesUsuarioDiv.innerHTML = ''; // Limpa o conteúdo da div
    }
});

document.getElementById("search-form").addEventListener("submit", function(event) {
    event.preventDefault(); // Impede o envio padrão do formulário
    
    var matricula = matriculaInput.value;
    
    if (!/^\d{6,}$/.test(matricula)) {
        alert("A matrícula deve ser um número com pelo menos 6 dígitos.");
        return;
    }
    
    console.log(matricula);
    var detalhesUsuarioDiv = document.getElementById("detalhesUsuario");
    
    // Fazer a requisição AJAX para buscar o usuário
    fetch("https://sistemas.tiangua.ifce.edu.br/sigec/buscar/" + matricula)
    .then(response => {
        if (!response.ok) {
            throw new Error("Erro na requisição");
        }
        return response.text(); // Use text() em vez de json()
    })
    .then(responseText => {
        // Verifica se a resposta está vazia ou contém algum conteúdo
        if (responseText.trim() === "") {
            detalhesUsuarioDiv.innerHTML = '<div class="alert alert-warning">Nenhum usuário encontrado</div>';
            return;
        }
        
        // A resposta contém algum conteúdo, você pode tentar analisá-la como JSON
        try {
            const usuario = JSON.parse(responseText);
            console.log("Usuario recebido:", usuario);
            
            // Carrega o conteúdo do arquivo Twig na div            
            console.log("Caminho do arquivo Twig:", window.location.href);
            fetch('{{ base_url }}/src/views/emprestimo/detalhes_usuario.twig')
                .then(response => response.text())
                .then(template => {
                    console.log("Template carregado:", template);
                    const renderedTemplate = Twig.twig({ data: template }).render({ usuario: usuario });
                    detalhesUsuarioDiv.innerHTML = renderedTemplate;
                });
        } catch (error) {
            console.log("Erro ao analisar JSON:", error);
            detalhesUsuarioDiv.innerHTML = '<div class="alert alert-warning">Erro ao carregar dados do usuário.</div>';
        }
    })
    .catch(error => {
        console.log("Erro:", error);
        detalhesUsuarioDiv.innerHTML = '<div class="alert alert-warning">Erro ao carregar dados do usuário.</div>';
    });
}); 

</script>



{% endblock %}







