{% extends "dashboard.html" %}

{% block conteudo %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/emprestimos">
                    Empréstimos
                </a>
            </li>
        </ol>
    </nav>


    <div class="row">
        <div class="col-xl-6 col-xxl-6 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <h6 class="fw-bold text-secondary">
                            Solicitante
                        </h6>                          
                    </div>                    
                </div>
                
                <div class="card-body">
                    <form data-url-busca="{{ url('buscar') }}" class="d-flex" role="search">
                        <input class="form-control me-2" type="search" id="busca" placeholder="Digite a matrícula do usuário" aria-label="Buscar">
                        <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    <div id="buscaResultado"></div>

                </div>
            </div>
        </div>    
        
        <div class="col-xl-6 col-xxl-6 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center mt-2">
                    <div>
                        <h6 class="fw-bold text-secondary">
                            Detalhes
                        </h6>                          
                    </div>                    
                </div>
                <div class="card-body">
                    {% if posts.posts %}
                    
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            Escolha um(a) soliciante para exibir suas informações
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b></b></h3>        
            <a href="{{ base_url }}/emprestimo/novo" class="btn btn-primary">Novo Empréstimo</a>
        </div>
    
    </div>


    <div class="card border-0 shadow-sm mx-auto">
        
        {% for bloco in blocos %}
        
            <div class="card-header bg-white border-0 mx-auto">
                <h3 class="card-title"><b>Bloco &nbsp;{{bloco.nome}}</b></h3>            
            </div>
        
        
            <div class="row mx-2 justify-content-center">                               
                {% for chave in chaves %}
                    <div class="col-md-3 col-lg-2 col-xl-2 mb-4">
                        <div class="card bg-light">                            
                            <div class="card-body shadow-sm">
                                <a href="#" tooltip="tooltip" title="{{chave.descricao}}">
                                    <img class="card-img-top" src="{{ base_url() }}/src/assets/img/key.svg" width="30" height="70" alt="chave" style="padding: 2px 16px;" >                                                                                         
                                </a>
                                <div class="card-header bg-opacity-30">{{chave.etiqueta}}</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col" style="display: flex; justify-content: space-between; align-items: center;">
                                            <span class="badge text-bg-success "><span class="text-success fw-bold">{{posts.ativo}}</span> <span class="badge ">Disponível</span> </span>                                        
                                            <a href="#" tooltip="tooltip" title="Adicionar Chave"><i class="fa-solid fa-hand-holding-medical"></i></a>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>                         
                    </div>  
                {% endfor %}
            </div>
        {% endfor%}          
    </div>

    
{% endblock %}







