{% extends "dashboard.html" %}

{% block conteudo %}

<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/emprestimos">
                    Empréstimos 
                </a>
            </li>
        </ol>
    </nav>  


    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Relação de Empréstimos</b></h3>
        
            <a href="{{ base_url }}/emprestimo/novo" class="btn btn-success">Novo Empréstimo</a>
        </div>
        
        <div class="card-body">            
            <div class="table-responsive">
                <table class="table table-hover" id="tabela">
                    <thead class="thead-light">
                        <tr> 
                            <th scope="col">Data/Horário</th>
                            <th scope="col">Solicitante</th>
                            <th scope="col">Chaves Solicitadas</th>
                            <th scope="col">Responsável Entrega</th>                            
<!--                            <th scope="col" class="text-center">Situação</th>                            -->
                            <th scope="col" class="text-center">Detalhes</th>
                            <th scope="col" class="text-center">Concluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emprestimo in emprestimos %}
                        <tr>
                            <td >{{emprestimo.dataAbertura |date("d/m/Y - H:i") }}</td>
                            <td>{{emprestimo.solicitante.nome}}</td>
                            
                            <td>
                            {% for item in itens_emprestimos %}
                                {% if emprestimo.id == item.emprestimo.id %}
                                    {% if emprestimo.situacao == "Aberto" %}
                                        {% if item.DevolvidoEm is null %}                                    
                                            <span title="{{item.chave.descricao}}" class="badge bg-warning">{{item.chave.etiqueta}}</span>
                                        {% else %}
                                            <span title="{{item.chave.descricao}}" class="badge bg-secondary">{{item.chave.etiqueta}}</span>
                                        {% endif %}
                                    {% else %}
                                        <span title="{{item.chave.descricao}}" class="badge bg-secondary">{{item.chave.etiqueta}}</span>    
                                    {% endif %}
                                {% endif %}                                
                            {% endfor %}
                            </td>
                            
                            <td>{{emprestimo.user_abertura.nome}}</td>
<!--                            <td class="text-center">
                                {% if emprestimo.situacao == 'Aberto' %} 
                                    <span class="text-info">{{emprestimo.situacao}}</span>
                                {% endif %}
                                {% if emprestimo.situacao == 'Atrasado' %}
                                    <span class="text-danger">{{emprestimo.situacao}}</span>
                                {% endif %}
                                {% if emprestimo.situacao == 'Devolvido' %}
                                    <span class="text-success">{{emprestimo.situacao}}</span>
                                {% endif %}
                            </td>-->
                            <td class="text-center">
                                <a href="{{ base_url }}/emprestimo/{{emprestimo.id}}/detalhes" tooltip="tooltip" title="Detalhar">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                            {% if emprestimo.situacao == "Aberto" %}
                                <td class="text-center">
                                    <a href="{{ base_url }}/emprestimo/{{emprestimo.id}}/concluir" tooltip="tooltip" title="Concluir">
                                        <i class="fa-sharp fa-solid fa-check"></i>
                                    </a>                                
                                </td>
                            {% else %}    
                                <td></td>
                            {% endif %}
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>     


        </div>        
       
    </div>
    
{% endblock %}



