{% extends "dashboard.html" %}

{% block conteudo %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="http://localhost/sigec">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="http://localhost/sigec/emprestimos">
                    Empréstimos
                </a>
            </li>
        </ol>
    </nav>

    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b></b></h3>        
            <a href="http://localhost/sigec/emprestimo/novo" class="btn btn-primary">Novo Empréstimo</a>
        </div>
    
    </div>


    <div class="card border-0 shadow-sm ">
        
        <div class="card-header bg-white border-0 mx-auto">
            <h3 class="card-title"><b>Bloco Administrativo</b></h3>            
        </div>    
        
        <div class="row mx-2">                               
            {% for i in 0..10 %}
                <div class="col-md-2 mb-4">
                    <div class="card bg-light">                            
                        <div class="card-body shadow-sm">
                            <a href="#" tooltip="tooltip" title="{{post.titulo}}">
                                <img class="card-img-top" src="{{ base_url() }}/src/assets/img/key.svg" width="30" height="70" alt="chave" style="padding: 2px 16px;" >                                                                                         
                            </a>
                            <div class="card-header bg-opacity-30">Descrição da Chave</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col" style="display: flex; justify-content: space-between; align-items: center;">
                                        <span class="badge text-bg-success "><span class="text-success fw-bold">{{posts.ativo}}</span> <span class="badge ">Disponível</span> </span>                                        
                                        <a href="#" tooltip="tooltip" title="Adicionar Chave"><i class="fa-solid fa-hand-holding-medical"></i></a>                                        
                                    </div>
                                    
                                    
                                    <!--
                                    <div class="col" style="display: flex; justify-content: space-between; align-items: center;">
                                        <span class="badge text-bg-success "><span class="text-success fw-bold">{{posts.ativo}}</span> <span class="badge ">Disponível</span> </span>                                        
                                        <a href="#" tooltip="tooltip" title="usuario.nome"><i class="fas fa-user"></i></a>                                        
                                    </div>            


                                    <div class="col-auto">
                                        <span class="badge text-bg-danger bg-opacity-10"> <span class="text-danger fw-bold">{{posts.inativo}}</span> <span class="badge text-secondary">Inativo</span> </span>  
                                    </div>
                                    <div class="flat-card-actions">
                                        <a href="#">More info</a>
                                        <a class="ms-3 text-warning" href="#">Edit</a>
                                        <a data-turbo-method="delete" data-turbo-confirm="Are you sure?" class="ms-3 text-danger" href="#">Remove</a>
                                    </div>-->
                                </div>
                            
                            </div>
                        </div>                            
                    </div>                         
                </div>  
            {% endfor %}
        </div> 

    </div>

    

    

<!-- POSTS

    <div class="row">
        <div class="col-xl-6 col-xxl-5 mb-2 d-flex">
            <div class="w-100">
                <div class="row">

                    

                    <div class="col-sm-6">
                        <div class="card border-1 shadow-sm mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="fw-bold text-secondary">Posts</h6>
                                    </div>

                                    <div class="col-auto text-secondary">
                                        <a href="#" tooltip="tooltip" title="Cadastrar Post">
                                            <i class="fa-solid fa-file-pen"></i>
                                        </a>                                            
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">{{posts.total}}</h1>

                                <div class="row">
                                    <div class="col-auto">
                                        <span class="badge text-bg-success bg-opacity-10"> <span class="text-success fw-bold">{{posts.ativo}}</span> <span class="badge text-secondary">Ativo</span> </span>
                                    </div>
                                    <div class="col-auto">
                                        <span class="badge text-bg-danger bg-opacity-10"> <span class="text-danger fw-bold">{{posts.inativo}}</span> <span class="badge text-secondary">Inativo</span> </span>  
                                    </div>
                                </div>

                            </div>
                        </div>                                   
                    </div>
                    
                </div>
            </div>
        </div>    
    </div>
    -->
    
{% endblock %}







