{% extends "dashboard.html" %}

{% block conteudo %}


<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/emprestimos">
                    Empréstimos 
                </a>
            </li>
        </ol>
    </nav>  

    {% for item in messages.success %}
        <div class="alert alert-success alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    {% endfor %}

    {% for item in messages.error %}
        <div class="alert alert-danger alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    {% endfor %}
    
    {% for item in messages.warning %}
        <div class="alert alert-warning alert-dismissible fade show">
            {{item}}
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    {% endfor %}
    
    
    
    <div>
    <h1>How to use and customize <img src="https://sweetalert2.github.io/images/swal2-logo.png"></h1>
    <div>
      <h4>Modal Type</h4>
      <p>Sweet alert with modal type and customize message alert with html and css</p>
      <button id="success">Success</button>
      <button id="error">Error</button>
      <button id="warning">Warning</button>
      <button id="info">Info</button>
      <button id="question">Question</button>
    </div>
    <br>
    <div>
      <h4>Custom image and alert size</h4>
      <p>Alert with custom icon and background icon</p>
      <button id="icon">Custom Icon</button>
      <button id="image">Custom Background Image</button>
    </div>
    <br>
    <div>
      <h4>Alert with input type</h4>
      <p>Sweet Alert with Input and loading button</p>
      <button id="subscribe">Subscribe</button>
    </div>
    <br>
    <div>
      <h4>Redirect to visit another site</h4>
      <p>Alert to visit a link to another site</p>
      <button id="link">Redirect to Utopian</button>
    </div>
  </div>
    
    
    
    


    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Empréstimos Ativos</b></h3>
        
            <a href="{{ base_url }}/emprestimo/novo" class="btn btn-primary">Novo Empréstimo</a>
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr> 
                            <th scope="col">Data/Horário</th>
                            <th scope="col">Solicitante</th>
                            <th scope="col">Chaves Solicitadas</th>
                            <th scope="col">Responsável Entrega</th>                            
<!--                            <th scope="col" class="text-center">Situação</th>                            -->
                            <th scope="col" class="text-center">Detalhes</th>
                            <th scope="col">Concluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emprestimo in emprestimos %}
                        <tr>
                            <td >{{emprestimo.dataAbertura |date("d/m/Y - H:i") }}</td>
                            <td>{{emprestimo.solicitante.nome}}</td>
                            
                            <td>
                            {% for item in itens_emprestimos %}
                                {% if emprestimo.id == item.emprestimo.id %}
                                    {% if emprestimo.situacao == "Aberto" %}
                                        {% if item.DevolvidoEm is null %}                                    
                                            <span title="{{item.chave.descricao}}" class="badge bg-warning">{{item.chave.etiqueta}}</span>
                                        {% else %}
                                            <span title="{{item.chave.descricao}}" class="badge bg-secondary">{{item.chave.etiqueta}}</span>
                                        {% endif %}
                                    {% else %}
                                        <span title="{{item.chave.descricao}}" class="badge bg-secondary">{{item.chave.etiqueta}}</span>    
                                    {% endif %}
                                {% endif %}                                
                            {% endfor %}
                            </td>
                            
                            <td>{{emprestimo.user_abertura.nome}}</td>
<!--                            <td class="text-center">
                                {% if emprestimo.situacao == 'Aberto' %} 
                                    <span class="text-info">{{emprestimo.situacao}}</span>
                                {% endif %}
                                {% if emprestimo.situacao == 'Atrasado' %}
                                    <span class="text-danger">{{emprestimo.situacao}}</span>
                                {% endif %}
                                {% if emprestimo.situacao == 'Devolvido' %}
                                    <span class="text-success">{{emprestimo.situacao}}</span>
                                {% endif %}
                            </td>-->
                            <td class="text-center">
                                <a href="{{ base_url }}/emprestimo/{{emprestimo.id}}/detalhes" tooltip="tooltip" title="Detalhar">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </td>
                            {% if emprestimo.situacao == "Aberto" %}
                                <td class="text-center">
                                    <a href="{{ base_url }}/emprestimo/{{emprestimo.id}}/concluir" tooltip="tooltip" title="Concluir">
                                        <i class="fa-sharp fa-solid fa-check"></i>
                                    </a>                                
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>     


        </div>        
       
    </div>
    
{% endblock %}



