{% extends "dashboard.html" %}

{% block conteudo %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="http://localhost/sigec">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="http://localhost/sigec/emprestimos">
                    Empréstimos
                </a>
            </li>
        </ol>
    </nav>

    
    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0">
            <h3 class="card-title"><b>Empréstimos</b></h3>
        </div>
        
               
       
    </div>

{% endblock %}



