{% extends "dashboard.html" %}
{% block conteudo %}

<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/emprestimos">
                    Empréstimos 
                </a>
            </li>
        </ol>
    </nav>  
    
    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Empréstimos Ativos</b></h3>
        
            <a href="{{ base_url }}/emprestimo/novo" class="btn btn-success">Novo Empréstimo</a>
        </div>
                
        <div style="text-indent: 10px; margin: 10px;"> 
            <i class="fa-solid fa-circle-exclamation fa-lg" style="color: #cd191e;"></i> Empréstimo em Atraso
            <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Ativo"></i> Chave Emprestada
            <i class="fa-solid fa-circle text-secondary" tooltip="tooltip" title="Ativo"></i> Chave Devolvida            
            
        </div>                   
                
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="tabela">
                    <thead class="thead-light">
                        <tr> 
                            <th scope="col">Data/Horário</th>
                            <th scope="col">Solicitante</th>
                            <th scope="col">Chaves Solicitadas</th>
                            <th scope="col">Responsável Entrega</th>                            
                            <th scope="col" class="text-center">Detalhes</th>
                            <th scope="col" class="text-center">Concluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emprestimo in emprestimos %}
                        <tr>
                            <td>{{emprestimo.dataAbertura |date("d/m/Y - H:i") }}                           
                                
                                {% set dataEmprestimo = emprestimo.dataAbertura %}                                
                                {% set dataAtual = "now"|date("Y-m-d H:i:s") %}                                
                                {% set diff = date(dataAtual).diff(date(dataEmprestimo)) %}                                
                                
                                {% if diff.days > 0 or diff.h > 24 %}
                                    <i class="fa-solid fa-circle-exclamation" style="color: #cd191e;"></i>
                                {% endif %} 
                                
                            </td>
                            
                            
<!--                        {% set dataEmprestimo = emprestimo.dataAbertura %}
                            {% set dataAtual = "now"|date("Y-m-d H:i:s") %}
                            {% set diff = date(dataAtual).diff(date(dataAbertura)) %}
                            {% if diff.days > 0 or diff.h > 24 %}
                                <td >{{emprestimo.dataAbertura |date("d/m/Y - H:i") }}</td><i class="fa-solid fa-circle-exclamation" style="color: #cd191e;"></i>
                            {% else %}    
                                <td >{{emprestimo.dataAbertura |date("d/m/Y - H:i") }}</td>
                            {% endif %}-->
                            
                            <td>{{emprestimo.solicitante.nome}}</td>
                            
                            <td>
                            {% for item in itens_emprestimos %}
                                {% if emprestimo.id == item.emprestimo.id %}
                                    {% if emprestimo.situacao == "Aberto" %}
                                        {% if item.DevolvidoEm is null %}                                    
                                            <span title="{{item.chave.descricao}}" class="badge text-bg-danger">{{item.chave.etiqueta}}</span>
                                        {% else %}
                                            <span title="{{item.chave.descricao}}" class="badge bg-secondary">{{item.chave.etiqueta}}</span>
                                        {% endif %}
                                    {% else %}
                                        <span title="{{item.chave.descricao}}" class="badge bg-secondary">{{item.chave.etiqueta}}</span>    
                                    {% endif %}
                                {% endif %}                                
                            {% endfor %}
                            </td>
                            
                            <td>{{emprestimo.user_abertura.nome}}</td>

                            <td class="text-center">
                                <a href="{{ base_url }}/emprestimo/{{emprestimo.id}}/detalhes" tooltip="tooltip" title="Detalhar">
                                    <i class="fa-solid fa-eye fa-lg"></i>
                                </a>
                            </td>
                            {% if emprestimo.situacao == "Aberto" %}
                                <td class="text-center">
                                    <a href="#" onclick="exibirConfirmacaoConcluir('{{emprestimo.id}}')" tooltip="tooltip" title="Concluir">
                                        <i class="fa-regular fa-square-check fa-lg" style="color: #2f9e41"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>     


        </div>        
       
    </div>
    
    <script>
        function exibirConfirmacaoConcluir(idEmprestimo) {
            Swal.fire({
                title: 'Tem certeza?',
                text: "Deseja realmente concluir este empréstimo? Esta ação devolve todas as chaves pendentes e não poderá ser revertida!",
                icon: 'warning',
                showCancelButton: true,
                cancelButtonColor: "#cd191e",
                confirmButtonColor: "#2f9e41",
                confirmButtonText: 'Sim, concluir!',                
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Aqui você pode adicionar lógica para redirecionar para a URL de conclusão do empréstimo
                    window.location.href = "{{ base_url }}/emprestimo/" + idEmprestimo + "/concluir";
                }
            });
        }
    </script>







    
{% endblock %}



