
<div style="margin-bottom: 40px">&nbsp;</div>

<div  class="row no-print">
  <div class="col-md-12">
    <div class="footer" style="background-color: #337ab7; color:#fff">
      <div class="row">

        <div class="col-md-12" style="padding: 5px">
          <p style="font-size: 1.2em;padding: 5px">
            © {{ "now"|date("Y") }}  UNIVERSIDADE FEDERAL DO CEARÁ  <br>
            Divisão de Tecnologia da Informação de Crateús- DTI<br>
            Versão: 1.0.0</p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-brasil"></div>

</div> <!-- Tudo-->




