{% extends "dashboard.html" %}
{% block conteudo %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ base_url }}">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ base_url }}/chaves">
                Chaves
            </a>
        </li>
    </ol>
</nav>

<div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Detalhes da Chave</b></h3>
        </div>
    
        <div class="card-body">
            
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" name="descricao" value="{{chave.descricao}}" class="form-control" id="descricao" disabled>                
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="etiqueta" class="form-label">Etiqueta</label>
                        <input type="text" name="etiqueta" value="{{chave.etiqueta}}" class="form-control" id="etiqueta" disabled>                
                    </div>  
                </div>
            </div> 
            
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="sala" class="form-label">Sala</label>
                        <input type="text" name="sala" value="{{chave.sala.nome}}" class="form-control" id="sala" disabled>                
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="bloco" class="form-label">Bloco</label>
                        <input type="text" name="bloco" value="{{chave.sala.bloco.nome}}" class="form-control" id="bloco" disabled>                
                    </div>  
                </div>
            </div>             
        </div>
    </div>
    <br>
 
    <div class="card border-0 shadow-sm"> 
    
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Restrições Ativas</b></h3>
        </div>
     
        <div class="card-body">    
            <div class="table-responsive">
                <table id="tabela2" class="table table-hover">
                    <thead class="thead-light">
                        <tr>                            
                            <th scope="col">Usuário</th>                            
                            <th scope="col">Tipo</th>   
                            <th scope="col">Data</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Registrado por</th>                            
                            <th scope="col" class="text-center">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for restricao in restricoes %} 
                            {% if restricao.ativa %}
                                <tr> 
                                    <td>{{restricao.usuario.nome}}</td>
                                    <td>{{restricao.usuario.tipo}}</td> 
                                    <td>{{restricao.dataInclusao |date("d/m/Y - H:i") }}</td>
                                    <td>{{restricao.Motivo}}</td>                                     
                                    <td>{{restricao.UserInclusao.nome}}</td>                                     
                                    {% if chave.id == restricao.chave.id %}
                                        <td class="text-center">
<!--                                            <a href="{{ base_url }}/chave/{{chave.id}}/usuario/{{restricao.usuario.matricula}}/reabilitar/{{restricao.DataInclusao}}" tooltip="tooltip" title="Excluir Restrição">
                                                <i class="fa-solid fa-circle-minus" style="color: #cd191e;"></i>
                                            </a>-->
                                            <a href="#" onclick="confirmarReabilitacao('{{ base_url }}/chave/{{chave.id}}/usuario/{{restricao.usuario.matricula}}/reabilitar/{{restricao.DataInclusao}}','{{restricao.usuario.nome}}')" tooltip="tooltip" title="Remover Restrição">
                                                <i class="fa-solid fa-circle-minus fa-lg" style="color: #cd191e;"></i>
                                            </a>
                                        </td> 
                                    {% endif %}
                                </tr>  
                            {% endif %}
                        {%endfor%}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mt-3">
                    <div class="button-group">
                        <!--<button id="btn_remover_selecionados" type="button" class="btn btn-success" onclick="removerSelecionados()">Remover Selecionados</button>-->
                        <!--<button id="btn_remover_todas" type="button" class="btn btn-success" onclick="removerTodas()">Remover Todas</button>-->                        
                        <a href="{{ base_url }}/chave/{{chave.id}}/removeRestricoes" onclick="removeRestricoes('{{chave.id}}','{{chave.descricao}}')" class="btn btn-success ml-2" tooltip="tooltip">
                            Remover Todas 
                        </a>
                        <button id="btn_voltar" type="button" class="btn btn-success ml-2" onclick="history.back()">Voltar</button>
                    </div>
                </div>
            </div>   
        </div>        
       
    </div>
    
    <br>
    
    <form action="../../chave/{{chave.id}}/usuario/{{user.matricula}}/restringir" method="POST" id="form_justificativa">    
        
        <input type="hidden" name="matricula" id="matricula" value="{{ user.matricula }}">
        <input type="hidden" name="chave" value="{{ chave.id }}">
        <textarea name="justificativa" id="justificativa" style="display: none;"></textarea>

        <div class="card border-0 shadow-sm">
            <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
                <h3 class="card-title"><b>Adicionar Restrição</b></h3>
            </div>
        
            <div class="card-body">    
                <div class="table-responsive">
                    <table id="tabela" class="table table-hover">
                        <thead class="thead-light">
                            <tr>                            
                                <th scope="col">Usuário</th>                            
                                <th scope="col">Tipo</th>   
                                <th scope="col" class="text-center">Opções</th>                           
                            </tr>
                        </thead>
                        <tbody>                        
                            {% for user in usuarios %}                        
                                {% set possuiRestricao = false %}
                                {% for restricao in restricoes %}                            
                                    {% if (restricao.usuario.matricula == user.matricula) and (restricao.ativa) %}
                                        {% set possuiRestricao = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if not possuiRestricao %}
                                <tr> 
                                    <td>{{ user.nome }} </td>
                                    <td>{{ user.tipo }}</td>
                                    <td class="text-center">
<!--                                        <a href="{{ base_url }}/chave/{{chave.id}}/usuario/{{user.matricula}}/restringir" tooltip="tooltip" title="Adicionar Restrição">
                                            <i class="fa-solid fa-square-plus" style="color: #2f9e41"></i>
                                        </a>-->
                                        <a href="#" onclick="exibirConfirmacao('{{user.matricula}}','{{user.nome}}')" tooltip="tooltip" title="Adicionar Restrição">
                                            <i class="fa-solid fa-circle-plus fa-lg" style="color: #2f9e41"></i>
                                        </a>
                                    </td> 
                                </tr>
                                {% endif %}
                            {% endfor %}

                        </tbody>
                    </table> 
                    <div class="d-flex justify-content-end mt-3">
                        <div class="button-group">
                            <!--<button id="btn_adicionar_selecionados" type="button" class="btn btn-success" onclick="adicionarSelecionados()">Adicionar Selecionados</button>-->
                            <!--<button id="btn_restringir_todos" type="button" class="btn btn-success" onclick="restringirTodos()">Restringir Todos</button>-->
                            <a href="{{ base_url }}/chave/{{chave.id}}/restringirTodos" onclick="restringirTodos('{{chave.id}}','{{chave.descricao}}')" class="btn btn-success ml-2" tooltip="tooltip">
                                Restringir Todos
                            </a>
                            <button id="btn_voltar" type="button" class="btn btn-success ml-2" onclick="history.back()">Voltar</button>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </form>
    
    <script>
        
        function confirmarReabilitacao(url, nome) {
            Swal.fire({
                title: 'Tem certeza?',
                html: "Esta ação irá desabilitar a restrição da chave para o usuário <b>" + nome + "</b>. Deseja continuar?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#2f9e41',
                cancelButtonColor: '#cd191e',
                confirmButtonText: 'Sim',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url; // Redireciona para a URL se confirmado
                }
            });
        }
        
        function exibirConfirmacao(matricula, nome) {
            Swal.fire({
                title: 'Tem certeza?',
                html: "Deseja adicionar uma restrição para o usuário <b>" + nome + "</b>?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: "#2f9e41",
                confirmButtonText: 'Sim, adicionar!',
                cancelButtonColor: "#cd191e",
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    exibirCaixaTexto(matricula);
                }
            });
        }

        function exibirCaixaTexto(matricula) {
            Swal.fire({
                input: 'textarea',
                inputLabel: 'Motivo',
                inputPlaceholder: 'Justificativa para restringir a chave',
                inputAttributes: {
                    'aria-label': 'Digite sua justificativa'
                },
                showCancelButton: true,
                cancelButtonColor: "#cd191e",
                customClass: {
                    confirmButton: 'btn-custom-class' // Classe CSS personalizada o botão Confirmar
                },
                preConfirm: (justificativa) => {
                    if (justificativa) {
                        enviarJustificativa(matricula, justificativa);                    
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            });
        }

        function enviarJustificativa(matricula, justificativa) {
            document.getElementById('justificativa').value = justificativa;
            document.getElementById('matricula').value = matricula;
            const form = document.getElementById('form_justificativa');
            form.action = `../../chave/{{chave.id}}/usuario/${matricula}/restringir`;
            form.submit();
        }
        
        function restringirTodos(idChave, descricaoChave) {
            event.preventDefault(); // Impede o comportamento padrão do link

            Swal.fire({
                title: 'Tem certeza?',
                html: 'Esta ação irá restringir o acesso de todos os usuários a chave <b>' + descricaoChave+ '</b>!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#2f9e41',
                cancelButtonColor: '#cd191e',
                confirmButtonText: 'Sim, restringir todos!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se o usuário confirmar, exiba a caixa de texto para informar o motivo
                    exibirCaixaTextoParaTodos(idChave);
                    
                }
            });
        }
        
        function exibirCaixaTextoParaTodos(idChave) {
            Swal.fire({
                input: 'textarea',
                inputLabel: 'Motivo',
                inputPlaceholder: 'Justificativa para restringir a chave para todos os usuários',
                inputAttributes: {
                    'aria-label': 'Digite sua justificativa'
                },
                showCancelButton: true,
                cancelButtonColor: "#cd191e",
                customClass: {
                    confirmButton: 'btn-custom-class' // Classe CSS personalizada para o botão Confirmar
                },
                preConfirm: (motivo_inclusao) => {
                    if (motivo_inclusao) { 
                        // Enviar a justificativa para a URL definida no link
                        window.location.href = `{{ base_url }}/chave/${idChave}/restringirTodos?motivo_inclusao=${encodeURIComponent(motivo_inclusao)}`;
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            });
        }
        
        function removeRestricoes(idChave, descricaoChave) {
            event.preventDefault(); // Impede o comportamento padrão do link
            Swal.fire({
                title: 'Tem certeza?',
                html: 'Esta ação irá remover todas as restrições da chave <b>' + descricaoChave+ '</b>!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#2f9e41',
                cancelButtonColor: '#cd191e',
                confirmButtonText: 'Sim, remover todas!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se o usuário confirmar, redirecione para a URL definida no link
                    window.location.href = '{{ base_url }}/chave/' + idChave + '/removeRestricoes';
                }
            });
        }
        
</script>
    
{% endblock %}