{% extends "dashboard.html" %}
{% import "funcoes.html" as msg %}

{% block conteudo %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/chaves">
                    Chaves
                </a>
            </li>
        </ol>
    </nav>

<!--{% for item in messages.success %}
    <div class="alert alert-success">
        {{item}}
    </div>
{% endfor %}-->


<div class="card border-0 shadow-sm">    
    <div class="col-md-10 col-md-offset-1">
            {{ msg.messagem(classe, texto)}}
    </div>
    
    <div class="card-body">
        <div class="panel-heading"><h4>Cadastrar Chave</h4></div>
        <form action="" method="post">
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input type="text" name="descricao" id="descricao" class="form-control">
            </div>

            <div class="mb-3">
                <label for="etiqueta" class="form-label">Etiqueta</label>
                <input type="text" name="etiqueta" id="etiqueta" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="id_sala" class="form-label">Sala</label>                
                <select class="form-select" name="id_sala" id="id_sala">
                    <option value="">Selecione...<i class="fas fa-search"></i></option>
                    {% for sala in salas %}                        
                        <option value="{{sala.id}}">{{sala.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <!--
            <div class="mb-3">
                <label for="id_bloco" class="form-label">Bloco</label>                
                <select class="form-select" name="id_bloco" id="id_bloco">
                    <option value="">🔍 Escolha uma opção...</option>
                    {% for bloco in blocos %}                        
                        <option value="{{bloco.id}}">{{bloco.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            -->
            
            <button  type="submit" class="btn btn-success">
                <i class="fa-regular fa-floppy-disk"></i> Salvar
            </button>
        </form>
    </div>    
</div>


{% endblock %}