{% extends "dashboard.html" %}

{% block conteudo %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ base_url }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ base_url }}/chaves">
                    Chaves
                </a>
            </li>
        </ol>
    </nav>
    
    <div class="card border-0 shadow-sm">
        
        <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center">
            <h3 class="card-title"><b>Chaves</b></h3>
            
            {% if session.Perfil == "Administrador" %}
                <a href="{{ base_url }}/chave/nova" class="btn btn-success">Nova Chave</a>
            {% endif %}
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabela" class="table table-hover">
                    <thead class="thead-light">
                        <tr>                            
                            <th scope="col">Número</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Etiqueta</th>
                            <th scope="col">Sala</th>
                            <th scope="col">Bloco</th>
                            <th scope="col" class="text-center">Situação</th>
                            {% if session.Perfil == "Administrador" or session.Perfil == "Recepcao" %}
                                <th scope="col" class="text-center">Opções</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for chave in chaves %}
                        <tr>
                            <td>{{chave.id}}</td>
                            <td>{{chave.descricao}}</td>
                            <td>{{chave.etiqueta}}</td>
                            <td>{{chave.sala.nome}}</td>
                            <td>{{chave.sala.bloco.nome}}</td>
                            <td class="text-center">
                                {% if chave.habilitada %}
                                    <i class="fa-solid fa-circle text-success" tooltip="tooltip" title="Ativo"></i>
                                {% else %}
                                    <i class="fa-solid fa-circle text-danger" tooltip="tooltip" title="Inativo"></i>
                                {% endif %}
                            </td>
                            {% if session.Perfil == "Administrador" or session.Perfil == "Recepcao" %}
                                <td class="text-center">
                                    {% if session.Perfil == "Administrador" %}
                                        <a href="{{ base_url }}/chave/{{chave.id}}/editar" tooltip="tooltip" title="Editar Chave">
                                            <i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{{ base_url }}/chave/{{chave.id}}/restringir" tooltip="tooltip" title="Restringir Chave">
                                        <i class="fa-solid fa-person-circle-xmark fa-xl" style="color: #f18517;"></i>
                                    </a>
                                    {% if session.Perfil == "Administrador" %}
                                        {% if chave.habilitada %}
                                            <a href="{{ base_url }}/chave/{{chave.id}}/desabilitar" onclick="confirmarDesativacao('{{chave.id}}','{{chave.descricao}}','{{chave.situacao}}')" tooltip="tooltip" title="Desativar Chave">
                                                <!--<i class="fa-solid fa-ban fa-lg" style="color: #cd191e;"></i>-->
                                                <i class="fa-solid fa-toggle-off fa-lg" style="color: #cd191e;"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ base_url }}/chave/{{chave.id}}/habilitar" onclick="confirmarAtivacao('{{chave.id}}','{{chave.descricao}}')" tooltip="tooltip" title="Ativar Chave">
                                                <!--<i class="fas fa-check-circle"></i>-->
                                                <i class="fa-solid fa-toggle-on fa-lg" style="color: #2f9e41;"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>     
        </div>        
    </div>
    
    <script>
    function confirmarDesativacao(idChave, descricaoChave, situacao) {
        event.preventDefault(); // Impede o comportamento padrão do link

        // Verifica se a chave está emprestada
        if (situacao === "Emprestada") {
            Swal.fire({
                title: 'Aviso',
                text: "Esta chave está atualmente emprestada e não pode ser desativada.",
                icon: 'info',
                confirmButtonColor: "#2f9e41",
                confirmButtonText: 'Entendi'
            });
        } else {
            // Exibe mensagem de confirmação do SweetAlert com o nome da chave
            Swal.fire({
                title: 'Confirmação',
                html: "Deseja realmente desativar a chave <b>" + descricaoChave + "</b>? Não será possível solicitá-la em novos empréstimos!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: "#2f9e41",
                cancelButtonColor: "#cd191e",
                confirmButtonText: 'Sim, desativar!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se o usuário confirmar, redirecione para o link 
                    window.location.href = "{{ base_url }}/chave/" + idChave + "/desabilitar";
                }
            });
        }
    }

    function confirmarAtivacao(idChave, descricaoChave) {
        event.preventDefault(); // Impede o comportamento padrão do link

        // Exibir mensagem de confirmação do SweetAlert com o nome da chave
        Swal.fire({
            title: 'Confirmação',
            html: "Deseja realmente ativar a chave <b>" + descricaoChave + "</b>? Após isso será possível solicitá-la em novos empréstimos!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sim, ativar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Se o usuário confirmar, redirecione para o link 
                window.location.href = "{{ base_url }}/chave/" + idChave + "/habilitar";
            }
        });
    }
        
//    function confirmarExclusao(idChave, descricaoChave, situacao) {
//        event.preventDefault(); // Impede o comportamento padrão do link
//
//        if (situacao === "Emprestada") {
//            Swal.fire({
//                title: 'Aviso',
//                text: "Esta chave está atualmente emprestada e não pode ser excluída.",
//                icon: 'info',
//                confirmButtonColor: '#3085d6',
//                confirmButtonText: 'Entendi'
//            });
//        } else {
//            // Exibe mensagem de confirmação do SweetAlert com o nome da chave
//            Swal.fire({
//                title: 'Confirmação',
//                text: "Deseja realmente excluir a chave " + descricaoChave + "? Esta ação não poderá ser desfeita!",
//                icon: 'warning',
//                showCancelButton: true,
//                confirmButtonColor: '#d33',
//                cancelButtonColor: '#3085d6',
//                confirmButtonText: 'Sim, excluir!',
//                cancelButtonText: 'Cancelar'
//            }).then((result) => {
//                if (result.isConfirmed) {
//                    // Se o usuário confirmar, redirecione para o link 
//                    window.location.href = "{{ base_url }}/chave/" + idChave + "/excluir";
//                }
//            });
//        }
//    }
    
</script>








{% endblock %}



